.msk-tabs .nav-tabs {
    .tabAnchor {
        display: flex;
        align-items: center;

        .closeButton {
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.msk-tabs-hidden .nav-tabs {
    // Many styles can impact on nav-tabs, we need to upgrade the level.
    display: none !important;
}
